# To demo use of environment variables in a structured project.
# Might be optional for the project in the end. We shall see
PROJECT_ENV=local
STORMGLASS_API_KEY=your_api_key_here
CONTINUOUS_DEFAULT_CONFIG=configs/mlp_water_level.yaml
CONTINUOUS_LATITUDE=54.352
CONTINUOUS_LONGITUDE=18.6466
CONTINUOUS_SCHEDULE_HOUR=6
CONTINUOUS_SCHEDULE_MINUTE=0
CONTINUOUS_TIMEZONE=Europe/Warsaw